<ion-header>
  <ion-navbar>
    <ion-title>
      ReadCover
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let item of detail ">
    <ion-card-content>        
      <ion-card-title>
        <h3 style="font-weight: bold;">{{item.name}}</h3>
      </ion-card-title>
        <img src="{{myphoto1}}">
        <p>ราคา : {{item.price}}</p>
        <p>รายละเอียด : {{item.detail}}</p>
        <a href="{{item.link}}">ไปยังหน้าร้าน</a>
        
    </ion-card-content>
</ion-card>
  <button ion-button block round outline (click)="photo()">ถ่ายภาพ</button>
  <button ion-button block round color="danger" outline (click)="getImage()">เลือกภาพถ่าย</button>
  <button ion-button block round color="danger" outline (click)="upphoto()">อัพโหลดภาพ</button>
</ion-content>
